<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Flask</title>
</head>
<body>

<h1> First ever Flask account</h1>
<p> Flask is is not Flash</p>

<ol>
    {% for album in albums%}

    <li> {{ album in albums }}</li>
    <p>{{ album.title }}</p>
    <p>{{ album.artist }}</p>
        <p>{{ album.year }}</p>

    {% endfor %}
</ol>
{% for genre in genres %}
<p> {{ genre }}</p>
{% endfor %}
<tr>
    <td>yellow</td>
    <td>red</td>
    <td>purple</td>
</tr>
</body>
</html>