<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Flask</title>
</head>
<body>

<h1> First ever Flask account</h1>
<p> Flask is is not Flash</p>

<ol>
    {% for album in albums%}

    <li> {{ album in albums }}</li>
    <p>{{ album.title }}</p>
    <p>{{ album.artist }}</p>
        <p>{{ album.year }}</p>

    {% endfor %}
</ol>
{% for genre in genres %}
<p> {{ genre }}</p>
{% endfor %}

{% for super in super %}
<p> {{ super }}</p>
{% endfor  %}

<tr>
    <td><strong>yellow</strong></td>
    <td>red</td>
    <td>purple</td>
</tr>

{% if age %}
    <h1> Hello {{ user }}! You're {{ age }} old!</h1>
{%  else %}
    <h1>Hello {{ user }}! I don't know how old you are.</h1>
{%  endif  %}

</body>
</html>